body {
    font-family: 'Orbitron', sans-serif;
    background-color: #000000;
}

button {
    border-radius: 8px;
    font-weight: 600;
    font-size:17px;
    border: none;
    background-color: #3e3f4a;
    color: #fff;
    margin: 0 4px 16px 8px;
    height: 40px;
    width: 50px;
    box-shadow: 0px 3px #000;
}

button,
button:hover,
button:visited {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

button:active {
    transform: translate(0px, 3px);
    box-shadow: none;
}

h1 {
    color:#3b3f48;
    font-size: 18px;
    margin-top: 48px;
    margin-bottom: 61px;
    font-weight: 700;
}

#calculator {
    height: 475px;
    width: 300px;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 2px solid #908b85;
    border-radius: 20px;
    box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;
}

#Title {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}

#entrybox {
    width: 85%;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #b4b39d;
    border-radius: 6px;
    background-color: #c3c2ab;
}

#entry {
    position: relative;
    left:90%;
    bottom:20px;
    margin-right: 10px;
    font-size: 35px;
}

#buttons {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    width: 280px;
    height: auto;
    margin-top: 15px;
    margin-left: 15px;
}

#equal {
    position: absolute;
    margin-left: 12px;
    margin-top: -50px;
    height: 90px;
}

#zero {
    width: 117px;
}

.red {
    font-size: 14px;
    background-color: #b44c53;
    box-shadow: 0px 3px 0px 0px #671c2a;
}

#answer {
    color:#5c533f;
}

.footer {
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    height: 40px;
    left: 40%;
    color:white;
}
